


* {
    background:     rgba(0,0,0,0.8); //#000000
    background-alt: #0B0A10;
    foreground:     #cdd6f4;
    selected:       #cba6f7;
    active:         #C699BB;
    urgent:         #cba6f7;
}

