/*     ___                    _     __    _       */
/*    /   |  _  _____  ____  (_)___/ /__ ( )_____ */
/*   / /| | | |/_/ _ \/ __ \/ / __  / _ \|// ___/ */
/*  / ___ |_>  </  __/ / / / / /_/ /  __/ (__  )  */
/* /_/  |_/_/|_|\___/_/ /_/_/\__,_/\___/ /____/   */
/*    _____                     _   ________      */
/*   / ___/      ______ ___  __/ | / / ____/      */
/*   \__ \ | /| / / __ `/ / / /  |/ / /           */
/*  ___/ / |/ |/ / /_/ / /_/ / /|  / /___         */
/* /____/|__/|__/\__,_/\__, /_/ |_/\____/         */
/*                    /____/                      */

/* https://github.com/Axenide/Dotfiles */

@define-color cc-bg                 #11111b;
@define-color noti-bg               #181825;
@define-color noti-bg-darker        #11111b;
@define-color noti-bg-hover         #11111b;
@define-color noti-bg-focus         #11111b;
@define-color noti-close-bg         #313244; /* #f38ba8 */
@define-color noti-close-bg-hover   #f38ba8;
@define-color text-color            #cdd6f4;
@define-color text-color-disabled   #6c7086;
@define-color bg-selected           #1B1D1D;
@define-color accent                #cba6f7;
@define-color secondary-accent      #cba6f7;
@define-color border                #313244;

@define-color black     #181825;
@define-color red       #f38ba8;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color blue      #89b4fa;
@define-color purple    #c47fd5;
@define-color aqua      #94e2d5;
@define-color gray      #b3b9b8;
@define-color brgray    #80AA9E;
@define-color brred     #F3594B;
@define-color brgreen   #ee5396;
@define-color bryellow  #E9B243;
@define-color brblue    #80AA9E;
@define-color brpurple  #D3869B;
@define-color braqua    #8CBA7F;
@define-color white     #E0CDA5;
@define-color bg2       #504945;

* {
    font-family: Maple Mono NF CN; /*FiraCode Nerd Font;*/
    /* color: @text-color; */
    /* font-weight: bolder; */
    font-size: 18px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: alpha(@accent, 0.25);
    border-radius: 0px;
    margin: 0px;
}

.notification {
    border-radius: 10px;
    padding: 0;
    border: 1px solid @noti-close-bg;
    background: @noti-bg-darker;
   /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);*/
}

.notification-content {
    background: transparent;
    padding: 10px;
}

.close-button {
    background: @noti-close-bg;
    color: @accent;
    text-shadow: none;
    padding: 0;
    border-radius: 100%;
    /* margin-top: 20px;
    margin-right: 13px; */
    box-shadow: none;
    border: none;
    min-width: 24px;
    min-height: 24px
}

.close-button:hover {
    box-shadow: none;
    background: @noti-close-bg-hover;
    transition: all .15s ease-in-out;
    border: none;
    color: @noti-bg;
}

.notification-default-action,
.notification-action {
    padding: 4px;
    margin: 0;
    box-shadow: none;
    background: @noti-bg;
    border: none;
    color: @text-color;
    transition: all .15s ease-in-out;
    font-size: 10.5pt;
}

.notification-default-action:hover,
.notification-action:hover {
    -gtk-icon-effect: none;
    background: @noti-bg-hover;
    /* text-shadow: 0 0 3px @text-color; */
}

.notification-default-action {
    border-radius: 8px
}

.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.notification-action {
    border-radius: 0;
    border-top: none;
    border-right: none
}

.notification-action:first-child {
    border-bottom-left-radius: 10px;
    background: @bgblack
}

.notification-action:last-child {
    border-bottom-right-radius: 10px;
    background: @bgblack
}

.notification-group-headers {
  font-weight: bold;
  font-size: 10.5pt;
  color: @text-color;
}

.notification-group-icon {
  color: @accent;
  margin-right: 8px;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: @noti-close-bg;
  border: none;
  min-width: 24px;
  min-height: 24px;
  transition: all .15s ease-in-out;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @noti-close-bg-hover;
  transition: all .15s ease-in-out;
  /* color: @accent; */
  color: @noti-bg;
}

.inline-reply {
    margin-top: 8px
}

.inline-reply-entry {
    background: @noti-bg-darker;
    color: @text-color;
    caret-color: @text-color;
    border: 1px solid @noti-border-color;
    border-radius: 10px
}

.inline-reply-button {
    margin-left: 4px;
    background: @noti-bg;
    border: 1px solid @noti-border-color;
    border-radius: 10px;
    color: @text-color
}

.inline-reply-button:disabled {
    background: initial;
    color: @text-color-disabled;
    border: 1px solid transparent
}

.inline-reply-button:hover {
    background: @noti-bg-hover;
}

.body-image {
    margin-top: 0px;
    background-color: transparent;
    border-radius: 10px
}
/* title of the notification */
.summary {
    font-size: 10.5pt;
    font-weight: bold;
    /* font-style: italic; */
    background: transparent;
    color: @accent;
    margin-left: 10px;
    /* text-shadow: 0 0 3px @red; */
}
/* time stamp of the notification */
.time {
    font-size: 10.5pt;
    font-weight: normal;
    /* font-style: italic; */
    background: transparent;
    color: @secondary-accent;
    text-shadow: none;
    margin-right: 10px
}
/* notification content / body */
.body {
    font-size: 10.5pt;
    font-weight: normal;
    background: transparent;
    color: @text-color;
    text-shadow: none;
    font-weight: normal;
    margin-left: 10px;
}

.image {
    background: transparent;
    border-radius: 8px;
}
/* the whole notification centre */
.control-center {
    background: alpha(@cc-bg, 1);
    border-left: 1px solid @noti-close-bg;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 0 0 5px 0 #181825;
}

.control-center-list {
    background: transparent;
}

.control-center-list-placeholder {
    opacity: .5
}

.floating-notifications .notification-row {
    background: transparent;
    margin: 15px 10px 0 0;
}

.blank-window {
    background: alpha(black, 0.0)
}

/* Title widget, with notification clear button to the side*/
.widget-title {
    color: @accent;
    margin: 20px 20px 5px 20px;
    font-size: 10.5pt;
    font-weight: bold;
    /* font-style: italic; */
    /* text-shadow: 0 0 3px @red; */
}

.widget-title>button {
    font-size: 10.5pt; /*initial*/
    font-weight: bold;
    font-family: 'Symbols Nerd Font';
    color: @red; /*noti-bg red*/
    background: @noti-bg;
    text-shadow: none;
    border: 1px solid @noti-border-color;
    box-shadow: none;
    border-radius: 10px;
}

.widget-title>button:hover {
    /* background: @noti-bg-hover; */
    /* text-shadow: 0 0 3px @brgreen; */
    background: @red;
    color: @noti-bg;
}

/* Do Not Disturb widget (dnd)*/
.widget-dnd {
    margin: 5px 20px 5px 20px;
    font-size: 10.5pt;
    font-weight: normal;
    color: @accent;
}
.widget-dnd>switch {
    font-size: initial;
    border-radius: 999px;
    background: @black;
    /* border: 1px solid @bgblack; */
    box-shadow: none;
    padding: 1px;
    transition: all .1s ease-in-out;
}
.widget-dnd>switch:checked {
    background: @red
}
.widget-dnd>switch slider {
    background: @noti-bg-hover;
    border-radius: 999px
}

.widget-label {
    margin: 10px;
}

.widget-label>label {
    font-size: 1.5rem;
    color: @text-color;
}

/* MPRIS widget / Player widget*/
.widget-mpris {
    color: @text-color;
    background: @noti-bg;
    padding: 10px;
    margin: 10px;
    border: 1px solid @noti-close-bg;
    border-radius: 10px;
    /*box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);*/
}
.widget-mpris-player {
    padding: 0px;
    margin: 0px
}
.widget-mpris-title {
    font-weight: bold;
    font-size: 1.25rem
}
.widget-mpris-subtitle {
    font-size: 1.1rem
}

.widget-buttons-grid {
    font-size: x-large;
    padding: 8px;
    margin: 20px 10px 10px;
    border: 1px solid @noti-close-bg;
    border-radius: 10px;
    background: @noti-bg;
    /*box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);*/
}
.widget-buttons-grid > flowbox > flowboxchild > button {
    margin: 3px;
    background: transparent;
    border-radius: 10px;
    color: @text-color;
    transition: all .15s ease-in-out;
}
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    /* background: @noti-bg-hover; */
    color: @secondary-accent;
    /* text-shadow: 0 0 3px @white; */
    transition: all .15s ease-in-out;
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
    background: @accent;
    color: @noti-bg;
    transition: all .15s ease-in-out;
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked:hover {
    background: @red;
    transition: all .15s ease-in-out;
}

.widget-menubar>box>.menu-button-bar>button {
    border: none;
    background: transparent
}

.topbar-buttons>button {
    border: none;
    background: transparent
}

.widget-volume {
    background: @noti-bg;
    padding: 8px;
    padding-left: 16px;
    margin: 10px;
    border: 1px solid @noti-close-bg;
    border-radius: 8px;
    font-size: x-large;
    color: @secondary-accent;
}

.widget-volume>box>button {
    background: @accent;
    border: 1px solid @noti-close-bg;
    color: @noti-bg;
    font-size: x-large;
}

.per-app-volume {
    color: @noti-bg;
    background: @noti-bg;
    background-color: @noti-bg;
    padding: 4px 8px 8px;
    margin: 0 8px 8px;
    border-radius: 10px
}

.widget-backlight {
    background: @noti-bg;
    padding: 8px;
    padding-left: 16px;
    margin: 10px;
    border: 1px solid @noti-close-bg;
    border-radius: 8px;
    font-size: x-large;
    color: @secondary-accent;
}

.widget-inhibitors {
    margin: 8px;
    font-size: 1.5rem
}

.widget-inhibitors>button {
    font-size: initial;
    color: @text-color;
    text-shadow: none;
    background: @noti-bg;
    border: 1px solid @noti-border-color;
    box-shadow: none;
    border-radius: 10px
}

.widget-inhibitors>button:hover {
    background: @noti-bg-hover
}

/* coloured notification urgency */
.notification-row .notification-background .notification.low {
  border-left: 3px solid @yellow;
}

.notification-row .notification-background .notification.normal {
  border-left: 3px solid @green;
}

.notification-row .notification-background .notification.critical {
  border-left: 3px solid @red;
}
